*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'Kanit', sans-serif;
}
/* NAV */
.navbar{
    margin-left: 32%;
    width: 30rem;

}
.navbar-nav{
    background-color: #000;
    border-style: solid;
    border-radius: 1rem;
    border-color: #Fff;
    

}
.navbar-nav li:hover{
    background-color: #262626;
    border-radius: 1rem;
}
.navbar-subnav{
    list-style: none;
    position: absolute;
    background-color: #161616;border-radius: 1rem;
    margin: 43px 0px 0px 0px;
    display: none;
    width: 288px;
    
}
.navbar-nav:hover > .navbar-subnav{
    display: block;
    z-index: 10;
    
}
.navbar-subnav li:hover{
    background-color: #262626;
}

.pedido button{
    background-color: #000;
    display: inline-block;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    border: #fff solid;
    
    
}
.pedido a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    
    
}
.pedido button:hover{
    background-color: #262626;
}


/* HEADER */
.gridHeader{
    padding: 1rem;
}    
.burgerIcon{
    padding: 5px 5px 5px 10px;
    background-color: #fff;
    border-radius: 1.2rem;
    width: 70px;
    height: 70px;
    float: left;

    
}
.burgerIcon a{
    float: left;
}
.burgerIcon img{
    width: 50px;
    height: 60px;
    transition: all 0.88s ease;
}
.burgerIcon img:hover{
    transform: rotate(360deg) 
}
h1{
    color: #fff;
    display: inline-block;
    padding: 1rem 0rem 1rem 0rem;
    margin-left: 0.4%;
    font-size: 2.5rem;
    
}
.pedido{
    margin-left: 80%;
    display: inline-block;
    border-radius: 2rem;
    width: 0;
}
.menu__ham{
    display: block;
    border-style: solid;
    border-color: #fff;
    border-radius: 0.6rem;
    height: 100%;
    width: 3.2rem;
    margin: 1rem 0rem 0rem 0.9rem;
    align-items: center;
    
}
.menu__reg{
    width: 2rem;
    height: 2.3rem;
    margin-left: 0.4rem;
}
.menu__input, .menu__label{
    display: none;
}
.menu__label{
    display: block;
    cursor: pointer;
}
.menu__ham__content{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    position: absolute;
    margin: 1rem 0rem 0rem 0rem;
    width: 91%;
    height: 17.78rem;
    background-color: #000;
    border-radius: 2rem;
    border-style: solid;
    border-color: #fff;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transition: all 0.3s ease;
    

}
.menu__input:checked+.menu__ham__content{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.menu__ham__content li{
    list-style: none;
    padding: 1rem;
    border-radius: 2rem;
    width: 18rem;
}
.menu__ham__content li:hover{
    background-color: #262626;

}
.menu__ham__content a{
    color: #Fff;
    text-decoration: none;
    font-size: 0.9rem;
    
}
.subnav__ham{
    display: flex;
    margin: 0;
    padding: 0;
}
.subnav__ham li{
    width: 4.5rem;
    text-align: center;
    padding: 0.2rem;
}
.subnav__ham a{
    font-size: 0.5rem;
}

/* MAIN */
main{
    padding: 1rem;
    background-color: #161616;
    border-radius: 6rem;
    margin-bottom: 1rem;
}
h2{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
p{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding: 30px;
}







/* FOOTER */
.gridFooter{
    background-image: linear-gradient(to right, rgb(255, 208, 80), rgb(255, 208, 60), rgb(255, 195, 60), rgb(255, 208, 60), rgb(255, 208, 80));
    border-radius: 2rem 2rem 0rem 0rem;
}
h3{
    display: inline-block;
    color: #000;
    padding: 3rem;
    margin: 0rem 0rem 0rem 20rem;
    
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}
#imgApp{
    margin: 8rem 0rem 0rem 0rem;
    
   
}
.botonDescargar{
    display: inline-block;
    margin: 0rem 0rem 2rem 30rem;
   
}
.botonDescargar button{
    width: 150px;
    height: 50px;
    background-color: #000;
    border: #fff solid;
    border-radius: 10px;
    
}
.botonDescargar button a{
    color: #fff;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    

}
.logofooter{
   background-color: #fff;
   padding: 5px 5px 5px 10px;
   width: 60px;
   height: 60px;
   margin-bottom: 18px;
   margin-left: 87%;
   display: inline-block;
   border-radius: 15px;
   
}
.h5footer{
   display: inline-block;
   position: absolute;
   margin-left: 1rem;
   
   
}
h5{
   color: #000;
   display: inline-block;
   margin-left: 0.6%;
   
   
}
.footerOptions{
   list-style-type: none;
   height: 54px; 
   width: 600px;
   position: absolute;
}
.footerOptions li{
   display: inline-block;
   text-align: center;
}
.footerOptions li a{
   text-decoration: none;
   display: inline-block;
   color: #000;
   padding: 20px 30px 0px 40px;
   font-size: 0.8rem;
   font-family: 'Kanit', sans-serif;
}

@media only screen and (max-width: 1023px){
    .pedido button{
        display: none;
    }
    .navbar{
        display: none;
    }
    .burgerIcon{
        width: 55px;
        height: 55px;
        margin-left: 1.5rem;
    }
    .burgerIcon img{
        width: 35px;
        height: 45px;
    }
    h1{
        font-size: 195%;
    }
    .slider{
        display: none;
    }
    .gridHeader{
        margin: 1.5rem 0rem 0rem 4.5rem;
    }
    h3{
        margin-left: 12%;
        font-size: 120%;
        
    }
    #imgApp{
        margin: 0rem 0rem 0rem 40.5%;
        
    }
    .botonDescargar{
        margin: 0rem 0rem 0rem 32.5%;
        
    }
    .footerOptions{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .footerOptions li a{
        font-size: 70%;
        padding: 2%;
    }
    .logofooter{
        margin: 11% 0% 4% 32%;
    }
    
} 
@media only screen and (min-width: 768px){
    .burgerIcon{
        margin-left: 12rem;
    }
    h3{
        margin-left: 25%;
        font-size: 160%;
    }
    #imgApp{
        margin: 0rem 0rem 0rem 45.5%;
    }
    .botonDescargar{
        margin: 0rem 0rem 0rem 41%;
        
    }
    .footerOptions{
        width: 90%;
    }
    .footerOptions li a{
        font-size: 85%;
    }
    .logofooter{
        margin: 8% 0% 4% 40%;
    }
    .menu__ham__content{
        
        margin: 1rem 0rem 0rem 0rem;
        width: 95.4%;
        height: 20rem;
        
    
    }
    .menu__ham__content li{
        padding: 1.2rem;
        width: 18rem;
    }
    .menu__ham__content a{
        
        font-size: 1rem;
        
    }
    .subnav__ham li{
        width: 10rem;
        padding: 1.2rem;
    }
    .subnav__ham a{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 400px){
    .burgerIcon{
        margin-left: 2%;
    }
    h3{
        margin-left: 7%;
        font-size: 120%;
    }
    #imgApp{
        margin: 0rem 0rem 0rem 40%;
    }
    .botonDescargar{
        margin: 0rem 0rem 0rem 31.5%;
        
    }
    .footerOptions{
        width: 82%;
    }
    .footerOptions li a{
        font-size: 60%;
    }
    .logofooter{
        margin: 14% 0% 4% 30%;
    }
}
@media only screen and (min-width: 769px){
    .menu__ham{
        display: none;
    }
    .navbar{
        margin-left: 31.5%;
    }
    .gridHeader{
        margin: 1.5rem 0rem 0rem 3.5rem;
    }

    
    h3{
        margin-left: 32%;
        font-size: 180%;
        
    }
    #imgApp{
        margin: 0rem 0rem 0rem 47%;
        
    }
    .botonDescargar{
        margin: 0rem 0rem 0rem 44.3%;
        
    }
    .footerOptions{
        width: 80%;
    }
    .footerOptions li a{
        font-size: 90%;
    }
    .logofooter{
        margin: 0% 0% 2% 80%;
    }
}
