/* NAV */
.navbar{
    margin-left: 20%;

    .navbar-nav{
        background-color: #161616;
        
    
    }
    .navbar-nav li:hover{
        background-color: #262626;
    }
    .navbar-subnav{
        list-style: none;
        position: absolute;
        background-color: #161616;
        margin: 40px 0px 0px 0px;
        display: none;
        width: 288px;
        
    }
    .navbar-nav:hover > .navbar-subnav{
        display: block;
        z-index: 10;
        
    }
    .navbar-subnav li:hover{
        background-color: #262626;
    }
    

}