/* NAV */
.navbar{
    margin-left: 32%;
    width: 30rem;
    .navbar-nav{
        background-color: #000;
        border-style: solid;
        border-radius: 1rem;
        border-color: #Fff;
    }
    .navbar-nav li:hover{
        background-color: #262626;
        border-radius: 1rem;
    }
    .navbar-subnav{
        list-style: none;
        position: absolute;
        background-color: #161616;border-radius: 1rem;
        margin: 43px 0px 0px 0px;
        display: none;
        width: 288px;
    }
    .navbar-nav:hover > .navbar-subnav{
        display: block;
        z-index: 10;
        
    }
    .navbar-subnav li:hover{
        background-color: #262626;
    }
    .pedido button{
        background-color: #000;
        display: inline-block;
        width: 130px;
        height: 45px;
        border-radius: 10px;
        text-align: center;
        border: #fff solid;
        &:hover{
            background-color: #262626;
        }
        
    }
    .pedido a{
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
}