@import "body";
@import "header";
@import "nav";
@import "footer";

/* MAIN */
section{
    color: #fff;
    display: inline-block;
    margin-bottom: 4rem;
    margin-left: 20%;
    
    .buscar{
        border-radius: 5px;
        border: 0;
        width: 4rem;
        height: 2rem;
        background-color: #fff;
        box-shadow: 2px 2px 5px #000;
        display: inline-block;
    }
    

}

